bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Visual Studio cache/options directory
.vs/
.idea/

# User-specific files
*.user

appsettings.Local.json
resources.Local.json
/FNIP/DataTransferTool/DataTransferTool.cs
~$*.docx
*.coverage

#VS Code artifacts
.vscode